body {
    font-family: 'Trochut', cursive;
}

.background {
    height: 100vh;
    width: 100vw;
    background-color: darkgray;
}


/*HEADER*/
#title {
    height: 20%;
}

#title div {
    height: 100%;
}

#title h1 {
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5em;
}

#title span {
    margin-left: 15px;
}

#title span:nth-child(2){
    color: firebrick;
}

/*GAMEBODY*/

#game-area {
    height: 80%;
}

#game-area div img {
    position: relative;
}

#game-area #guess_input {
    height: 1.5em;
    font-size: 5em;
    background-color: rgba(0,0,0,0.8);
    width: 80%;
    border-radius: 2em;
    border: none;
    color: #FFF;
    padding: 0;
    outline: none;
    text-align: center;
    -webkit-box-shadow: -6px 24px 160px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 24px 160px -6px rgba(0,0,0,0.75);
    box-shadow: -6px 24px 160px -6px rgba(0,0,0,0.75);
}

#game-area div {
    height: 100%;
}

#game-area div:nth-child(2) {
    background-color: rgba(0,0,0,0.6);
    padding: 15px;
    border-radius: 15px;
    -webkit-box-shadow: -3px 24px 160px 24px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 24px 160px 24px rgba(0,0,0,0.75);
    box-shadow: -3px 24px 160px 24px rgba(0,0,0,0.75);

}

#game-area div:first-child img {
    display: inline-block;
    height: 75%;
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#game-area div:last-child img {
    display: inline-block;
    height: 75%;
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#game-panel {
    color: #FFF;
}

#game-panel label {
    font-size: 1.5em;
}

#submitAnswer, #reset {
    margin: 15px 5px;
    font-size: 1.5em;
    color: #000;
}

/*BG ANIMATIONS*/

.background {
    transition: 0.5s linear;
}

.background-smokin-hot {
    background-color: #FF0000;
    transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

.background-hot {
    background-color: #FF3300;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

.background-getting-warmer {
    background-color: #FF6600;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

.background-cold {
    background-color: #0066FF;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

.background-ice-cold {
    background-color: #0000FF;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

.background-win {
    background-color: #00FF00;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}






